/* From previous global.css */
body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --button: Roboto;
    --font-montserrat-alternates: "Montserrat Alternates";
  
    /* font sizes */
    --button-size: 0.88rem;
    --caption-size: 0.75rem;
    --body-1-size: 1rem;
  
    /* Colors */
    --white-surface: #fff;
    --black-87: rgba(0, 0, 0, 0.87);
    --black-38: rgba(0, 0, 0, 0.38);
    --black-60: rgba(0, 0, 0, 0.6);
    --color-black: #000;
    --m3-sys-dark-surface-bright: #3b383e;
    --primary-color: #1554f7;
  
    /* Gaps */
    --gap-4xs: 0.56rem;
  
    /* Paddings */
    --padding-5xs: 0.5rem;
    --padding-base: 1rem;
    --padding-12xs: 0.06rem;
    --padding-9xs: 0.25rem;
  
    /* Border radiuses */
    --br-9xs: 4px;
  
    /* Effects */
    --button-button-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.24);
  }

.login-screen-child {
    width: 3.13rem;
    height: 1.38rem;
    position: relative;
    background-color: var(--white-surface);
    display: none;
  }
  .mui-icon {
    height: 6.56rem;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  .mui-icon-wrapper {
    width: 8.63rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
  }
  .app-title {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.08em;
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
  }
  .app-slogan {
    align-self: stretch;
    height: 3rem;
    position: relative;
    font-size: var(--body-1-size);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    font-family: var(--button);
    color: var(--color-black);
    display: inline-block;
    flex-shrink: 0;
  }
  .app-title-parent,
  .login-screen-inner {
    display: flex;
    justify-content: center;
  }
  .app-title-parent {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 0.38rem;
  }
  .login-screen-inner {
    width: 13.75rem;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 2.25rem;
    color: var(--black-87);
    font-family: var(--font-montserrat-alternates);
  }
  .instruction {
    height: 2.56rem;
    flex: 1;
    position: relative;
    letter-spacing: 0.25px;
    line-height: 1.25rem;
    display: inline-block;
  }
  .username-password-frame {
    width: 16rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 0;
    box-sizing: border-box;
  }
  .outline {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--black-38);
    box-sizing: border-box;
  }
  .icon-right {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    display: none;
    z-index: 1;
  }
  .helper-text {
    width: 9.69rem;
    font-size: var(--caption-size);
    letter-spacing: 0.4px;
    line-height: 1rem;
    color: var(--black-60);
    display: none;
    height: 0.75rem;
    flex-shrink: 0;
    z-index: 2;
  }
  .floating-label,
  .helper-text,
  .input-text,
  .placeholder-text {
    position: relative;
    font-family: var(--button);
    text-align: left;
  }
  .placeholder-text {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: var(--body-1-size);
    background-color: transparent;
    height: 2.5rem;
    flex: 1;
    letter-spacing: 0.44px;
    line-height: 1.75rem;
    color: var(--black-38);
    display: flex;
    align-items: center;
    min-width: 9.63rem;
    z-index: 1;
  }
  .floating-label,
  .input-text {
    color: var(--black-60);
    display: none;
  }
  .input-text {
    align-self: stretch;
    width: 11.19rem;
    font-size: var(--body-1-size);
    letter-spacing: 0.44px;
    line-height: 1.75rem;
    align-items: center;
    flex-shrink: 0;
    z-index: 4;
  }
  .floating-label {
    width: 1.94rem;
    font-size: var(--caption-size);
    letter-spacing: 0.4px;
    line-height: 1rem;
    text-shadow: 6px 0 0#fff, 0 6px 0#fff, -6px 0 0#fff, 0-6px 0#fff;
    mix-blend-mode: normal;
    z-index: 5;
  }
  .username {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs);
    position: relative;
  }
  .outline1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--black-38);
    box-sizing: border-box;
  }
  .icon-right1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    display: none;
    z-index: 1;
  }
  .helper-text1 {
    width: 9.69rem;
    font-size: var(--caption-size);
    letter-spacing: 0.4px;
    line-height: 1rem;
    color: var(--black-60);
    display: none;
    height: 0.75rem;
    flex-shrink: 0;
    z-index: 2;
  }
  .floating-label1,
  .helper-text1,
  .input-text1,
  .placeholder-text1 {
    position: relative;
    font-family: var(--button);
    text-align: left;
  }
  .placeholder-text1 {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: var(--body-1-size);
    background-color: transparent;
    height: 2.5rem;
    flex: 1;
    letter-spacing: 0.44px;
    line-height: 1.75rem;
    color: var(--black-38);
    display: flex;
    align-items: center;
    min-width: 9.63rem;
    z-index: 1;
  }
  .floating-label1,
  .input-text1 {
    color: var(--black-60);
    display: none;
  }
  .input-text1 {
    align-self: stretch;
    width: 11.19rem;
    font-size: var(--body-1-size);
    letter-spacing: 0.44px;
    line-height: 1.75rem;
    align-items: center;
    flex-shrink: 0;
    z-index: 4;
  }
  .floating-label1 {
    width: 1.94rem;
    font-size: var(--caption-size);
    letter-spacing: 0.4px;
    line-height: 1rem;
    text-shadow: 6px 0 0#fff, 0 6px 0#fff, -6px 0 0#fff, 0-6px 0#fff;
    mix-blend-mode: normal;
    z-index: 5;
  }
  .password {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs);
    position: relative;
  }
  .outline-placeholder-text,
  .username-password {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .outline-placeholder-text {
    flex-direction: column;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-4xs);
  }
  .username-password {
    width: 18.63rem;
    flex-direction: row;
    padding: 0 var(--padding-base);
    box-sizing: border-box;
  }
  .label {
    flex: 1;
    position: relative;
    font-size: var(--button-size);
    letter-spacing: 1px;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--button);
    color: var(--white-surface);
    text-align: center;
  }
  .button-login,
  .buttonlogin {
    display: flex;
    flex-direction: row;
  }
  .button-login {
    cursor: pointer;
    border: 0;
    padding: var(--padding-base);
    background-color: var(--primary-color);
    flex: 1;
    border-radius: var(--br-9xs);
    box-shadow: var(--button-button-shadow);
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .buttonlogin {
    width: 18.69rem;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1.06rem;
    box-sizing: border-box;
  }

  

  
  .username-password-parent {
    margin: 0;
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.81rem;
    width:100%;

  }
  .login-screen,
  .username-password-frame-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

  }
  .username-password-frame-parent {
    align-self: stretch;
    /* height: 19.5rem; */
    gap: var(--gap-4xs);
    text-align: center;
    font-size: var(--button-size);
    color: var(--black-87);
    font-family: var(--button);
    width: 100%;
  }
  .login-screen {
    width: 100%;
    position: relative;
    background-color: var(--white-surface);
    padding: 3.06rem 2rem 2.69rem 3.06rem;
    box-sizing: border-box;
    gap: 1rem;
  }
  