<<<<<<< HEAD
/* From previous global.css */
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --button: Roboto;
  --font-montserrat-alternates: "Montserrat Alternates";

  /* font sizes */
  --button-size: 0.88rem;
  --caption-size: 0.75rem;
  --body-1-size: 1rem;

  /* Colors */
  --white-surface: #fff;
  --black-87: rgba(0, 0, 0, 0.87);
  --black-38: rgba(0, 0, 0, 0.38);
  --black-60: rgba(0, 0, 0, 0.6);
  --color-black: #000;
  --m3-sys-dark-surface-bright: #3b383e;
  --primary-color: #1554f7;

  /* Gaps */
  --gap-4xs: 0.56rem;

  /* Paddings */
  --padding-5xs: 0.5rem;
  --padding-base: 1rem;
  --padding-12xs: 0.06rem;
  --padding-9xs: 0.25rem;

  /* Border radiuses */
  --br-9xs: 4px;

  /* Effects */
  --button-button-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.24);
}

.login-screen-child {
  width: 3.13rem;
  height: 1.38rem;
=======
.nav-menu-icon {

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
  background-color: var(--white-surface);
  display: none;
=======
  border-radius: 40px;
  width: 40px;
  height: 40px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.mui-icon {
  height: 6.56rem;
  flex: 1;
=======
.title {
  margin: 0;

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
  max-width: 100%;
  overflow: hidden;
=======
  font-size: inherit;
  letter-spacing: 0.15px;
  font-weight: 500;
  font-family: inherit;

>>>>>>> Incoming
}
<<<<<<< HEAD
.mui-icon-wrapper {
  width: 8.63rem;
=======
.app-bar-regular {
  background-color: #00233f;
  box-shadow: var(--dp);
  width: 360px;

>>>>>>> Incoming
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  align-items: flex-start;
=======
  align-items: center;

>>>>>>> Incoming
  justify-content: flex-start;
<<<<<<< HEAD
  padding: 0;
=======
  padding: 8px;

>>>>>>> Incoming
  box-sizing: border-box;
<<<<<<< HEAD
=======
  gap: 24px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.app-title {
  margin: 0;
=======
.iconsarrow-back-24px {

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
  font-size: inherit;
  letter-spacing: 0.08em;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
=======
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
  margin-left: -344px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.app-slogan {
=======
.app-bar-regular-parent {

>>>>>>> Incoming
  align-self: stretch;
<<<<<<< HEAD
  height: 3rem;
=======
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--title-headline-size);
  color: var(--m3-sys-light-on-primary);
  font-family: var(--m3-label-large);
}
.header1 {

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
  font-size: var(--body-1-size);
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  font-family: var(--button);
  color: var(--color-black);
=======
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;

>>>>>>> Incoming
  display: inline-block;
<<<<<<< HEAD
=======
  height: 18px;

>>>>>>> Incoming
  flex-shrink: 0;
}
<<<<<<< HEAD
.app-title-parent,
.login-screen-inner {
=======
.subhead {
  align-self: stretch;
  position: relative;
  font-size: var(--m3-body-small-size);
  line-height: 16px;

>>>>>>> Incoming
  display: flex;
<<<<<<< HEAD
  justify-content: center;
=======
  padding-right: var(--padding-smi);
  width: auto;

>>>>>>> Incoming
}
<<<<<<< HEAD
.app-title-parent {
=======
.subhead:hover {
  font-family: var(--m3-label-large);
  font-size: var(--m3-body-small-size);
  line-height: 16px;
  text-align: left;
  color: var(--m3-sys-light-on-surface);
  display: flex;
  align-self: stretch;
  width: auto;
  padding-right: var(--padding-smi);
}
.text {

>>>>>>> Incoming
  flex: 1;
<<<<<<< HEAD
=======
  display: flex;

>>>>>>> Incoming
  flex-direction: column;
  align-items: center;
  gap: 0.38rem;
}
.login-screen-inner {
  width: 13.75rem;
  flex-direction: row;
  align-items: flex-start;
<<<<<<< HEAD
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 2.25rem;
  color: var(--black-87);
  font-family: var(--font-montserrat-alternates);
=======
  justify-content: flex-start;
  gap: var(--gap-9xs);

>>>>>>> Incoming
}
<<<<<<< HEAD
.instruction {
  height: 2.56rem;
=======
.content1 {

>>>>>>> Incoming
  flex: 1;
<<<<<<< HEAD
  position: relative;
  letter-spacing: 0.25px;
  line-height: 1.25rem;
  display: inline-block;
=======
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

>>>>>>> Incoming
}
<<<<<<< HEAD
.username-password-frame {
  width: 16rem;
=======
.header {
  align-self: stretch;
  height: 72px;

>>>>>>> Incoming
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  align-items: flex-start;
=======
  align-items: center;

>>>>>>> Incoming
  justify-content: flex-start;
<<<<<<< HEAD
  padding: 0 0 0 0;
=======
  padding: var(--padding-xs) var(--padding-9xs) var(--padding-xs)
    var(--padding-base);

>>>>>>> Incoming
  box-sizing: border-box;
}
<<<<<<< HEAD
.outline {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--black-38);
  box-sizing: border-box;
}
.icon-right {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
  z-index: 1;
}
.helper-text {
  width: 9.69rem;
  font-size: var(--caption-size);
  letter-spacing: 0.4px;
  line-height: 1rem;
  color: var(--black-60);
  display: none;
  height: 0.75rem;
  flex-shrink: 0;
  z-index: 2;
}
.floating-label,
.helper-text,
.input-text,
.placeholder-text {
  position: relative;
  font-family: var(--button);
  text-align: left;
}
.placeholder-text {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: var(--body-1-size);
  background-color: transparent;
  height: 2.5rem;
=======
.media-text-content {
  align-self: stretch;

>>>>>>> Incoming
  flex: 1;
  letter-spacing: 0.44px;
  line-height: 1.75rem;
  color: var(--black-38);
  display: flex;
<<<<<<< HEAD
=======
  flex-direction: column;

>>>>>>> Incoming
  align-items: center;
<<<<<<< HEAD
  min-width: 9.63rem;
  z-index: 1;
=======
  justify-content: flex-start;

>>>>>>> Incoming
}
<<<<<<< HEAD
.floating-label,
.input-text {
  color: var(--black-60);
  display: none;
}
.input-text {
=======
.media-icon {

>>>>>>> Incoming
  align-self: stretch;
<<<<<<< HEAD
  width: 11.19rem;
  font-size: var(--body-1-size);
  letter-spacing: 0.44px;
  line-height: 1.75rem;
  align-items: center;
=======
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 109px;

>>>>>>> Incoming
  flex-shrink: 0;
<<<<<<< HEAD
  z-index: 4;
=======
  object-fit: cover;
  z-index: 1;
  margin-top: -109px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.floating-label {
  width: 1.94rem;
  font-size: var(--caption-size);
  letter-spacing: 0.4px;
  line-height: 1rem;
  text-shadow:
    6px 0 0#fff,
    0 6px 0#fff,
    -6px 0 0#fff,
    0-6px 0#fff;
  mix-blend-mode: normal;
  z-index: 5;
}
.username {
=======
.content {

>>>>>>> Incoming
  align-self: stretch;
<<<<<<< HEAD
=======
  flex: 1;
  border-radius: var(--br-xs);
  border: 1px solid var(--m3-sys-light-outline-variant);
  overflow: hidden;

>>>>>>> Incoming
  display: flex;
<<<<<<< HEAD
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  position: relative;
=======
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
}
<<<<<<< HEAD
.outline1 {
=======
.background {
  position: absolute;
  margin: 0 !important;

>>>>>>> Incoming
  height: 100%;
  width: 100%;
<<<<<<< HEAD
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--black-38);
=======
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--m3-sys-light-outline-variant);

>>>>>>> Incoming
  box-sizing: border-box;
<<<<<<< HEAD
=======
  overflow: hidden;
  z-index: 2;

>>>>>>> Incoming
}
<<<<<<< HEAD
.icon-right1 {
  height: 1.5rem;
  width: 1.5rem;
=======
.sign-in-sign-out-card {
  border-radius: var(--br-xs);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  width: 167px;
  height: 181px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
  display: none;
  z-index: 1;
=======
  cursor: pointer;

>>>>>>> Incoming
}
<<<<<<< HEAD
.helper-text1 {
  width: 9.69rem;
  font-size: var(--caption-size);
  letter-spacing: 0.4px;
  line-height: 1rem;
  color: var(--black-60);
  display: none;
  height: 0.75rem;
  flex-shrink: 0;
=======
.background1 {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--m3-sys-light-outline-variant);
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;

>>>>>>> Incoming
  z-index: 2;
}
<<<<<<< HEAD
.floating-label1,
.helper-text1,
.input-text1,
.placeholder-text1 {
=======
.import-roster-card {
  border-radius: var(--br-xs);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  width: 167px;
  height: 181px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
  position: relative;
  font-family: var(--button);
  text-align: left;
}
<<<<<<< HEAD
.placeholder-text1 {
=======
.background2 {
  position: absolute;
  margin: 0 !important;
  height: 100%;

>>>>>>> Incoming
  width: 100%;
<<<<<<< HEAD
  border: 0;
  outline: 0;
  font-size: var(--body-1-size);
  background-color: transparent;
  height: 2.5rem;
  flex: 1;
  letter-spacing: 0.44px;
  line-height: 1.75rem;
  color: var(--black-38);
  display: flex;
  align-items: center;
  min-width: 9.63rem;
  z-index: 1;
=======
  top: 0%;
  right: 0.3%;
  bottom: 0%;
  left: -0.3%;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--m3-sys-light-outline-variant);
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;

>>>>>>> Incoming
}
<<<<<<< HEAD
.floating-label1,
.input-text1 {
  color: var(--black-60);
  display: none;
}
.input-text1 {
  align-self: stretch;
  width: 11.19rem;
  font-size: var(--body-1-size);
  letter-spacing: 0.44px;
  line-height: 1.75rem;
  align-items: center;
  flex-shrink: 0;
  z-index: 4;
}
.floating-label1 {
  width: 1.94rem;
  font-size: var(--caption-size);
  letter-spacing: 0.4px;
  line-height: 1rem;
  text-shadow:
    6px 0 0#fff,
    0 6px 0#fff,
    -6px 0 0#fff,
    0-6px 0#fff;
  mix-blend-mode: normal;
  z-index: 5;
}
.password {
  align-self: stretch;
=======
.export-data-card {
  border-radius: var(--br-xs);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  width: 168px;
  height: 181px;

>>>>>>> Incoming
  display: flex;
<<<<<<< HEAD
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  position: relative;
}
.outline-placeholder-text,
.username-password {
  flex: 1;
  display: flex;
=======
  flex-direction: column;

>>>>>>> Incoming
  align-items: flex-start;
  justify-content: flex-start;
<<<<<<< HEAD
=======
  position: relative;
  cursor: pointer;

>>>>>>> Incoming
}
<<<<<<< HEAD
.outline-placeholder-text {
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-4xs);
}
.username-password {
  width: 18.63rem;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.label {
  flex: 1;
=======
.logout-button-labeltext {

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
  font-size: var(--button-size);
  letter-spacing: 1px;
  line-height: 1rem;
  text-transform: uppercase;
=======
  font-size: var(--m3-label-large-size);
  letter-spacing: 0.1px;
  line-height: 20px;

>>>>>>> Incoming
  font-weight: 500;
<<<<<<< HEAD
  font-family: var(--button);
  color: var(--white-surface);
=======
  font-family: var(--m3-label-large);
  color: var(--m3-sys-light-on-primary);

>>>>>>> Incoming
  text-align: center;
}
<<<<<<< HEAD
.button-login,
.buttonlogin {
=======
.state-layer {

>>>>>>> Incoming
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
=======
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 20px var(--padding-3xs) 24px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.button-login {
=======
.log-out-button {

>>>>>>> Incoming
  cursor: pointer;
<<<<<<< HEAD
  border: 0;
  padding: var(--padding-base);
=======
  border: none;
  padding: 0;

>>>>>>> Incoming
  background-color: var(--primary-color);
<<<<<<< HEAD
  flex: 1;
  border-radius: var(--br-9xs);
  box-shadow: var(--button-button-shadow);
=======
  margin: 0 !important;
  position: absolute;
  top: 448px;
  left: 127px;
  border-radius: 100px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);

>>>>>>> Incoming
  overflow: hidden;
<<<<<<< HEAD
=======
  display: flex;
  flex-direction: row;

>>>>>>> Incoming
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD
.buttonlogin {
  width: 18.69rem;
=======
.content-scroll-area {
  align-self: stretch;
  background-color: #f6d591;
  height: 584px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

>>>>>>> Incoming
  align-items: flex-start;
<<<<<<< HEAD
  justify-content: flex-start;
  padding: 0 1.06rem;
=======
  justify-content: center;
  padding: var(--padding-base) 0px;

>>>>>>> Incoming
  box-sizing: border-box;
<<<<<<< HEAD
=======
  position: relative;
  gap: 8px;
  text-align: left;
  font-size: var(--m3-title-medium-size);
  color: var(--m3-sys-light-on-surface);
  font-family: var(--m3-label-large);

>>>>>>> Incoming
}
<<<<<<< HEAD

.username-password-parent {
  margin: 0;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.81rem;
=======
.dashboard {
  position: relative;
  background-color: var(--background);

>>>>>>> Incoming
  width: 100%;
<<<<<<< HEAD
}
.login-screen,
.username-password-frame-parent {
=======
  overflow: hidden;

>>>>>>> Incoming
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: center;
=======
  align-items: flex-start;

>>>>>>> Incoming
  justify-content: flex-start;
  width: 100%;
}
.username-password-frame-parent {
  align-self: stretch;
  /* height: 19.5rem; */
  gap: var(--gap-4xs);
  text-align: center;
  font-size: var(--button-size);
  color: var(--black-87);
  font-family: var(--button);
  width: 100%;
}
.login-screen {
  width: 100%;
  position: relative;
  background-color: var(--white-surface);
  padding: 3.06rem 2rem 2.69rem 3.06rem;
  box-sizing: border-box;
  gap: 1rem;
}
