.mui-icon {
    height: 6.56rem;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  .mui-icon-wrapper {
    width: 7.63rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0.38rem 0 0;
    box-sizing: border-box;
  }
  .presence1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.08em;
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
  }
  .make-time-count {
    align-self: stretch;
    height: 3rem;
    position: relative;
    font-size: var(--body-1-size);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    font-family: var(--button);
    color: #000;
    display: inline-block;
    flex-shrink: 0;
  }
  .presence,
  .presence-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .presence {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.38rem;
  }
  .presence-wrapper {
    width: 15.38rem;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 1.75rem 0 1.25rem;
    box-sizing: border-box;
  }
  .text-field {
    height: 2.56rem;
    flex: 1;
    position: relative;
    letter-spacing: 0.25px;
    line-height: 1.25rem;
    display: inline-block;
  }
  .text-field-wrapper {
    width: 15.25rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs) 0 0;
    box-sizing: border-box;
  }
  .outline {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--black-38);
    box-sizing: border-box;
  }
  .helper-text,
  .icon-right {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    display: none;
    z-index: 1;
  }
  .helper-text {
    width: 9.69rem;
    letter-spacing: 0.4px;
    line-height: 1rem;
    height: 0.75rem;
    flex-shrink: 0;
    z-index: 2;
  }
  .placeholder-text {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--button);
    font-size: var(--body-1-size);
    background-color: transparent;
    height: 2.5rem;
    flex: 1;
    position: relative;
    letter-spacing: 0.44px;
    line-height: 1.75rem;
    color: var(--black-38);
    text-align: left;
    display: flex;
    align-items: center;
    min-width: 9.63rem;
    z-index: 1;
  }
  .floating-label,
  .input-text {
    position: relative;
    display: none;
  }
  .input-text {
    align-self: stretch;
    width: 11.19rem;
    font-size: var(--body-1-size);
    letter-spacing: 0.44px;
    line-height: 1.75rem;
    align-items: center;
    flex-shrink: 0;
    z-index: 4;
  }
  .floating-label {
    width: 1.94rem;
    letter-spacing: 0.4px;
    line-height: 1rem;
    text-shadow: 6px 0 0#fff, 0 6px 0#fff, -6px 0 0#fff, 0-6px 0#fff;
    mix-blend-mode: normal;
    z-index: 5;
  }
  .text-field-outlined {
    width: 16.56rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs);
    box-sizing: border-box;
    position: relative;
  }
  .label {
    flex: 1;
    position: relative;
    font-size: var(--button-size);
    letter-spacing: 1px;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--button);
    color: var(--white);
    text-align: center;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 1rem;
    background-color: var(--primary-color);
    width: 16.56rem;
    border-radius: var(--br-9xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .button:hover {
    background-color: #3b7aff;
  }
  .line-separator {
    position: absolute;
    width: 100%;
    top: calc(50% - 1px);
    right: 0;
    left: 0;
    background-color: var(--black-12);
    height: 0.06rem;
  }
  .label1 {
    position: relative;
    letter-spacing: 0.4px;
    line-height: 1rem;
  }
  .centered-label {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 26px);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-9xs) 0 var(--padding-5xs);
    white-space: nowrap;
    z-index: 1;
  }
  .divider,
  .icon {
    position: relative;
  }
  .divider {
    align-self: stretch;
    height: 0.5rem;
  }
  .icon {
    height: 1.5rem;
    width: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .text-label {
    flex: 1;
    position: relative;
    font-size: var(--button-size);
    letter-spacing: 1px;
    line-height: 1rem;
    font-weight: 500;
    font-family: var(--button);
    color: var(--black-60);
    text-align: center;
  }
  .sign-in-with-google {
    cursor: pointer;
    border: 2px solid var(--color-gainsboro-100);
    padding: var(--padding-5xs) var(--padding-lg) var(--padding-5xs)
      var(--padding-smi);
    background-color: var(--white);
    align-self: stretch;
    height: 2.63rem;
    border-radius: var(--br-11xs);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-mini);
    white-space: nowrap;
  }
  .sign-in-with-google:hover {
    background-color: #e6e6e6;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }
  .icon1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .sign-in-with-apple,
  .text {
    display: flex;
    align-items: center;
  }
  .text {
    width: calc(100% - 55px);
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--button);
    font-size: var(--button-size);
    background-color: transparent;
    height: 1rem;
    flex: 1;
    position: relative;
    letter-spacing: 1px;
    line-height: 1rem;
    color: var(--black-60);
    text-align: center;
    justify-content: center;
    min-width: 7.38rem;
  }
  .sign-in-with-apple {
    align-self: stretch;
    height: 2.63rem;
    border-radius: var(--br-11xs);
    background-color: var(--white-74);
    border: 2px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-lg) var(--padding-5xs)
      var(--padding-smi);
    gap: var(--gap-mini);
    cursor: pointer;
  }
  .sign-in-with-google-parent {
    width: 16.56rem;
    height: 6.13rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.13rem;
  }
  .button-parent {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    text-align: center;
  }
  .button-parent,
  .frame-parent,
  .text-field-outlined-parent {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .text-field-outlined-parent {
    display: flex;
    align-items: flex-start;
    gap: 1.06rem;
    text-align: left;
    font-size: var(--caption-size);
    color: var(--black-60);
  }
  .frame-parent {
    gap: 0.56rem;
    text-align: center;
    font-size: var(--button-size);
    color: var(--black-87);
    font-family: var(--button);
  }
  .blank-default,
  .frame-parent,
  .login-screen {
    display: flex;
    align-items: center;
  }
  .blank-default {
    flex: 1;
    background-color: var(--white);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3.06rem 2.56rem 2.38rem 2.94rem;
    box-sizing: border-box;
    gap: 1rem;
    max-width: 100%;
    text-align: center;
    font-size: 2.25rem;
    color: var(--black-87);
    font-family: var(--font-montserrat-alternates);
  }
  .login-screen {
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: center;
    letter-spacing: normal;
  }
  @media screen and (max-width: 650px) {
    .blank-default {
      padding-top: 2rem;
      padding-bottom: 1.56rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .sign-in-with-google-parent {
      height: 6.13rem;
    }
  }

  .button-parent,
.text-field-outlined-parent {
  align-items: center;
  justify-content: center;
}