:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #f6d591;
}
.action-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  margin: 0 0 0 0;
  background: #00233f;
  z-index: 999;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}
.arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 8px;
  left: 8px;
  z-index: 110;
  border-radius: 40px;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px 0 0 8px;
  background: url(./assets/images/c08cfef9-e918-4667-9b6f-cc7f068c1bcb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 111;
}
.sign-in-sheet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  bottom: 17px;
  left: 72px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.15px;
  z-index: 109;
}
.content-filter-list-px {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 313px;
  background: url(./assets/images/e8dcf89e-9dd5-4573-b8cd-2c897a2acc60.png)
    no-repeat center;
  background-size: cover;
  z-index: 112;
}
.icons-delete-px {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 281px;
  background: url(./assets/images/5b13a402-b152-4575-8ca0-03600fbd7051.png)
    no-repeat center;
  background-size: cover;
  z-index: 113;
}
.title-of-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 289px;
  height: 48px;
  margin: 16px 0 0 29px;
  color: #000000;
  font-family: Roboto, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  z-index: 130;
  padding-top: 64px;
  padding-bottom: 16px;
}
.date-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 312px;
  height: 56px;
  margin: 8px 0 0 18px;
  z-index: 114;
  border-radius: 4px 4px 0 0;
}
.date-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  min-height: 0;
  border: 1px solid #6750a4;
  z-index: 115;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.date-state-layer {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  padding: 4px 0 4px 16px;
  z-index: 116;
  border-radius: 4px 4px 0 0;
}
.date-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  height: 48px;
  padding: 4px 0 4px 0;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 117;
}
.date-input-text-area {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 90px;
  z-index: 118;
}
.date-input-text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #1d1b20;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 119;
}

.date-label-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: absolute;
  width: 33px;
  height: 16px;
  top: -12px;
  left: -4px;
  padding: 0 4px 0 4px;
  background: #f6d591;
  z-index: 120;
}
.date-label-text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #6750a4;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.calendar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 48px;
  height: 48px;
  z-index: 122;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 40px;
  z-index: 123;
  overflow: hidden;
  border-radius: 100px;
}
.cal-icon-state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 40px;
  padding: 8px 8px 8px 8px;
  background: rgba(73, 69, 79, 0.12);
  z-index: 124;
}
.icons-today-px {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/c9bf1134-7dec-4dfc-9658-88726c532874.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 125;
}
.date-format-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: nowrap; */
  flex-shrink: 0;
  gap: 10px;
  position: absolute;
  height: 20px;
  /* right: 0; */
  bottom: -20px;
  /* left: 0; */
  padding: 4px 16px 0 16px;
  width: 100%;
  z-index: 126;
}
.date-format-text {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 16px;
  color: #49454f;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 127;
}
.horizontal-dark-inset-dark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 320px;
  margin: 42px 0 0 14px;
  padding: 0 0 0 16px;
  z-index: 128;
}
.divider {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 1px;
  background: url(./assets/images/f8735834-dfc7-47f7-b74a-d5300a39dfb7.png)
    no-repeat center;
  background-size: cover;
  z-index: 129;
}
.roster {
  position: relative;
  /* width: 360px;
  height: 399px; */
  margin: 14px 0 0 0;
  overflow: hidden;
  
}
.entry-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 342px;
  height: 92px;
  margin: -4px 0 0 10px;
  padding: 8px 11px 8px 11px;
  z-index: 1;
  overflow: hidden;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 210px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 2;
  border-radius: 4px 4px 0 0;
}
.text-field-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  height: 56px;
  border: 1px solid #79747e;
  z-index: 3;
  border-radius: 4px;
}
.state-layer-7 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-height: 0;
  padding: 4px 0 4px 16px;
  z-index: 4;
  border-radius: 4px 4px 0 0;
}
.content-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  height: 48px;
  padding: 4px 0 4px 0;
  z-index: 5;
}
.placeholder-text {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 86px;
  z-index: 6;
}
.placeholder-text-9 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #49454f;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 7;
}
.label-text-a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: absolute;
  width: 40px;
  height: 16px;
  top: -12px;
  left: -4px;
  padding: 0 4px 0 4px;
  background: #f6d591;
  z-index: 8;
}
.label-text-b {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #49454f;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.supporting-text-c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: absolute;
  height: 20px;
  right: 0;
  bottom: -20px;
  left: 0;
  padding: 4px 16px 0 16px;
  z-index: 10;
}
.supporting-text-d {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 16px;
  color: #49454f;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  white-space: nowrap;
  z-index: 11;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 111px;
  height: 56px;
  cursor: pointer;
  background: #6750a4;
  border: none;
  z-index: 12;
  overflow: hidden;
  border-radius: 100px;
}
.state-layer-e {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 8px;
  position: relative;
  min-height: 0;
  padding: 10px 24px 10px 16px;
  z-index: 13;
}
.icon-f {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: url(./assets/images/f49c754f-1f09-4a1b-9560-f4f62cd54ca0.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.label-text-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 45px;
  height: 20px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 15;
}
